<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Slider</title>
	<link rel="stylesheet" href="style.css">	
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

</head>
<body>
	<div class="container" ng-controller="SliderCtrl">
		<div class="some-content"></div>
		<div class="slider-parent">	
			<div id="slides">
				<div class="slide" ng-repeat="slide in images | limitTo:3 ">
					<img src="{{slide.link}}" alt="">
				</div>				
			</div>			
		</div>
		<a href="" ng-click="next()"> Next &gt; </a>
	</div>
</body>
</html>